/* 2D SHAPES CSS */

.css-triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 86px solid #1e90ff;
  margin: 0 auto;
}

.css-square {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  margin: 0 auto;
}

.css-rectangle {
  width: 100px;
  height: 70px;
  background-color: #1e90ff;
  margin: 0 auto;
}

.css-circle {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  border-radius: 50%;
  margin: 0 auto;
}

.css-pentagon {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  margin: 0 auto;
}

.css-hexagon {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  margin: 0 auto;
}

.css-heptagon {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  clip-path: polygon(50% 0%, 82% 18%, 100% 50%, 82% 82%, 50% 100%, 18% 82%, 0% 50%, 18% 18%);
  margin: 0 auto;
}

.css-octagon {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  margin: 0 auto;
}

.css-nonagon {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  clip-path: polygon(50% 0%, 78% 7%, 95% 25%, 100% 50%, 95% 75%, 78% 93%, 50% 100%, 22% 93%, 5% 75%, 0% 50%, 5% 25%, 22% 7%);
  margin: 0 auto;
}

.css-decagon {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  clip-path: polygon(50% 0%, 81% 6%, 100% 31%, 100% 69%, 81% 94%, 50% 100%, 19% 94%, 0% 69%, 0% 31%, 19% 6%);
  margin: 0 auto;
}

.css-ellipse {
  width: 100px;
  height: 60px;
  background-color: #1e90ff;
  border-radius: 50%;
  margin: 0 auto;
}

.css-semicircle {
  width: 100px;
  height: 50px;
  background-color: #1e90ff;
  border-radius: 100px 100px 0 0;
  margin: 0 auto;
}

.css-sector {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  clip-path: polygon(50% 50%, 100% 50%, 50% 0);
  margin: 0 auto;
}

.css-star {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  margin: 0 auto;
}

.css-heart {
  width: 80px;
  height: 70px;
  position: relative;
  margin: 0 auto;
}

.css-heart::before,
.css-heart::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 65px;
  background-color: #1e90ff;
  border-radius: 40px 40px 0 0;
  top: 0;
}

.css-heart::before {
  left: 0;
}

.css-heart::after {
  right: 0;
}

.css-crescent {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  box-shadow: inset 25px 0 0 -10px rgba(15, 12, 41);
}

.css-arrow {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 60px solid #1e90ff;
  position: relative;
  margin: 0 auto;
}

.css-arrow::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #1e90ff;
  top: 35px;
  left: -40px;
}

.css-cross {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background: linear-gradient(90deg, transparent 30%, #1e90ff 30%, #1e90ff 70%, transparent 70%),
              linear-gradient(0deg, transparent 30%, #1e90ff 30%, #1e90ff 70%, transparent 70%);
}

.css-cloud {
  width: 100px;
  height: 50px;
  background-color: #1e90ff;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
}

.css-cloud::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #1e90ff;
  border-radius: 50%;
  top: -25px;
  left: 10px;
}

.css-cloud::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #1e90ff;
  border-radius: 50%;
  top: -30px;
  right: 10px;
}

.css-leaf {
  width: 100px;
  height: 50px;
  background-color: #1e90ff;
  border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
  transform: rotate(-45deg);
  margin: 0 auto;
}

.css-drop {
  width: 50px;
  height: 80px;
  background-color: #1e90ff;
  border-radius: 50% 50% 50% 0%;
  transform: rotate(-45deg);
  margin: 0 auto;
}

.css-rhombus {
  width: 80px;
  height: 80px;
  background-color: #1e90ff;
  transform: rotate(45deg);
  margin: 0 auto;
}

.css-trapezium {
  width: 80px;
  height: 0;
  border-bottom: 60px solid #1e90ff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin: 0 auto;
}

.css-parallelogram {
  width: 100px;
  height: 60px;
  background-color: #1e90ff;
  transform: skew(20deg);
  margin: 0 auto;
}

.css-kite {
  width: 0;
  height: 0;
  border-bottom: 80px solid #1e90ff;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  position: relative;
  margin: 0 auto;
}

.css-kite::after {
  content: "";
  position: absolute;
  top: 80px;
  left: -35px;
  width: 0;
  height: 0;
  border-top: 80px solid #1e90ff;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
}